cirq==1.6.1
cirq-aqt==1.6.1
cirq-core==1.6.1
cirq-google==1.6.1
cirq-ionq==1.6.1
cirq-pasqal==1.6.1
cirq-web==1.6.1
matplotlib==3.9.0
matplotlib-inline==0.2.2
networkx==3.6.1
numpy==1.26.4
pandas==2.2.2
psutil==7.2.2
pytest==8.2.2
pytest-cov==5.0.0
pytket==2.18.0
pytket-qiskit==0.77.0
qiskit==2.4.1
qiskit-aer==0.17.2
qiskit-ibm-runtime==0.47.0
rustworkx==0.17.1
scikit-learn==1.8.0
scipy==1.13.1
seaborn==0.13.2
sympy==1.14.0
tqdm==4.66.4
